<form method="post" action="/housekeeping/widgets/discord">
    <div class="form-group row">
       <div class="col-10">
          <label for="example-text-input" class="col-form-label"></label>
          <div class="input-group mb-2 mr-sm-2">
             <div class="input-group-prepend">
                <div class="input-group-text">https://discord.gg/</div>
             </div>
             <input type="text" name="discord-invite" id="discord" value="{{data.discord}}" class="form-control">
          </div>
       </div>
    </div>
</form>
