<div class="content-header sotm">
   <div class="content-header-title">{{sitename}} van de maand</div>
   <div class="content-header-desc">Ben jij het de volgende maand?</div>
</div>
<div class="content">
   <div class="list-item">
      <img src="https://www.habbo.com/habbo-imaging/avatarimage?figure={{widgets.spotlight.staff.look}}&amp;direction=3&amp;head_direction=3&amp;gesture=sml&amp;headonly=1" style="float: right;">
      <div style="font-size: 17px;">Staff-lid van de maand</div>
      <div class="more">
        <a href="/profile/{{widgets.spotlight.staff.username}}"><div class="user-style {{widgets.spotlight.staff.font}}"><strong>{{widgets.spotlight.staff.username}}</strong></div></a>, {{widgets.spotlight.staff.messagestaff}}
      </div>
   </div>
   <div class="list-item">
      <img src="https://www.habbo.com/habbo-imaging/avatarimage?figure={{widgets.spotlight.user.look}}&amp;direction=3&amp;head_direction=3&amp;gesture=sml&amp;headonly=1" style="float: right;">
      <div style="font-size: 17px;">Beta-lid van de maand</div>
      <div class="more">
         <a href="/profile/{{widgets.spotlight.user.username}}"><div class="user-style {{widgets.spotlight.user.font}}"><strong>{{widgets.spotlight.user.username}}</strong></div></a>, {{widgets.spotlight.user.messageuser}}
      </div>
   </div>
</div>