{% extends "base.html" %}
{% set object = 'online' %}
{% block title %}{{object|capitalize}}{% endblock %}
{% block body %}
<div id="main-wrapper">
<div class="container">

<div class="row content-box">
<div class="col-sm-9">
<div class="banner-header" style="background: url(https://habbobites.com/images/site/creations_header.png); color: white; padding: 20px;">
<div class="row">
<div class="col-sm-8">
<div class="bh-title" style="font-size: 22px;">Wie zijn er online?</div>
<div class="bh-desc">Hoe je het went of keert, je blijft toch stalken he!?</div>
</div>
<div class="col-sm-4">
</div>
</div>
</div>
<div class="row" style="margin-top: 10px;">
{% for beta in online %}
  <a href="/profile/{{beta.username}}">
<div class="col-md-4">
<div class="creation" style="height: 250px;">
<div class="creation-image" style="background: url(https://www.habbo.nl/habbo-imaging/avatarimage?figure={{beta.look}}&action=wav&headonly=0&direction=2&head_direction=3&action=&gesture=&size=m); background-position: center; background-repeat: no-repeat; background-color: black;">
<div class="creation-type">{{beta.username}}</div>
</div>
</div>
</div>
    </a>
{% endfor %}
</div> </div>
  
{% endblock %}