<div class="col-md-4">
            <div class="content">
               <div class="title" style="margin-bottom: 10px">Settings</div>
                <div class="list-group">
                  <a href="/account/profile-settings" class="list-group-item list-group-item-action {% if object == 'settings' %}active{% endif %}">Profiel instellingen</a>
                  <a href="/account/user-settings" class="list-group-item list-group-item-action {% if object == 'accountsettings' %}active{% endif %}">Account instellingen</a>
                  <a href="/account/hotel-settings" class="list-group-item list-group-item-action {% if object == 'hotelsettings' %}active{% endif %}">Hotel instellingen</a>
                  <a href="#" class="list-group-item list-group-item-action disabled">Notificatie instellingen</a>
                  <a href="/account/transactions" class="list-group-item list-group-item-action {% if object == 'transactions' %}active{% endif %}" tabindex="-1" aria-disabled="true">Transactie overzicht</a>
                </div>
         </div>
      </div>