<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>Betahotel Flash toestaan</title>
		<link rel="stylesheet" type="text/css" href="https://blishotel.nl/app/tpl/skins/habbo/noflash/css/noflash.css">
		<link rel='icon' type='img/ico' href='https://blishotel.nl/app/tpl/skins/habbo/app/assets/img/favicon.ico'/>
	
	</head>
	<body>
		<div class="hb-container" id="area-container">
		<h1 class="text" id="client-title">Flash toestaan in Chrome!</h1>
			<div id="no-flash" style="">
				<div id="info-allow">Zo te zien staat je Flash Player uit! Helaas heb je dit wel nodig om Beta te spelen, gelukkig is er hiervoor een oplossing in slechts een paar stappen om deze toe te staan.<br>
					<br>Stap 1: Klik hieronder op "Flash toestaan".<br>
					<br>
					<div id="info-allow-button" style="text-align: center;">
						<a href="https://get.adobe.com/nl/flashplayer/" target="_blank" id="allow-flash-button-extern" class="client-reload__button" style="">Flash toestaan</a><br>
					</div>
					<br>
					Stap 2: Je ontvangt een melding, rechts boven, klik hier op.<br><br>
					<center><img src="https://blishotel.nl/app/tpl/skins/habbo/noflash/img/noflash1.png"><br></center><br>
					Stap 3: Klik dan op "Blokkeren van plug-ins beheren..."<br><br>
					<center><img src="https://blishotel.nl/app/tpl/skins/habbo/noflash/img/noflash2.png"></center><br>
					Stap 4: Nu kom je hier.<br><br>
					<center><img src="https://blishotel.nl/app/tpl/skins/habbo/noflash/img/noflash3.png"></center><br>
					Stap 5: Naast "Niet toestaan dat de site Flash uitvoeren" Zie je een schuifje zet hem om en je Flash staat aan.<br><br>
					<center><img src="https://blishotel.nl/app/tpl/skins/habbo/noflash/img/noflash4.png"></center><br>
					<br>
					<div id="info-allow-button" style="text-align: center;">
						<a href="https://www.betahotel.nl/client" id="allow-flash-button-extern" class="client-reload__button" style="">Ga door naar Blis</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>